@import "tailwindcss";

:root {
  /* The variable is already set by Next.js from your font import */
  --font-montserrat: 'Montserrat', sans-serif;
}

body {
  font-family: var(--font-montserrat);
}

@keyframes gradientMove {
  0% { background-position: 0% 50%; }
  50% { background-position: 100% 50%; }
  100% { background-position: 0% 50%; }
}

.animate-gradient {
  animation: gradientMove 5s ease infinite;
}

.animate-gradient-fast {
  animation: gradientMove 2s ease infinite;
}